@model GloboTicket.Web.Models.View.BasketViewModel

<h2>Your shopping cart</h2>
<h4>Here are the tickets for great events currently in your shopping cart.</h4>

<table class="table">
    <thead>
        <tr class="columnHeader">
            <th>EVENT NAME</th>
            <th>DATE</th>
            <th>PRICE PER TICKET</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.BasketLines)
        {
            <tr>
                <td>@line.EventName</td>
                <td>@line.Date.DateTime.ToShortDateString()</td>
                <td class="bold">$@line.Price</td>
                <td>
                    <form asp-action="UpdateLine">
                        <input type="hidden" name="LineId" value="@line.LineId" />
                        <select name="TicketAmount" class="w-25" asp-for="@line.Quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button type="submit" class="filterButton">Update</button>
                    </form>
                </td>
                <td class="bold big">$@(line.Price * line.Quantity) </td>
                <td>
                    <a asp-action="RemoveLine" asp-route-lineId="@line.LineId">
                        <img class="cancelIcon" src="~/img/times.svg" />
                    </a>
                </td>
            </tr>
        }

    </tbody> 
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-left">
                <a asp-controller="EventCatalog" asp-action="Index">
                    <img class="backIcon" src="~/img/arrow-down.svg" /> Back to event catalog
                </a>
            </td>

        </tr>
    </tfoot>
</table>


<form asp-action="ApplyDiscountCode" method="post" class="form-horizontal" role="form">
    <h4>Enter your discount code here!</h4>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Code" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Code" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="filterButton" value="Apply" />
        </div>
    </div>
</form>


<div class="text-center">
    <a class="btn btn-primary" asp-controller="ShoppingBasket" asp-action="Checkout">Check out now!</a>
</div>